{{ define "content" }}

<p>
    Use this page to manually download subway data for specific days.
    To download data in bulk, follow the <a href="/programmatic-access">programmatic access instructions</a>.
</p>

<script language="javascript">
function showHide(elementID) {
  var hidden = document.getElementById(elementID + '_hidden');
  var shown = document.getElementById(elementID + '_shown');
  if (hidden.style.display === "none") {
    hidden.style.display = "block";
    shown.style.display = "none";
  } else {
    hidden.style.display = "none";
    shown.style.display = "block";
  }
} 
</script>

{{range $i, $y := .Years }}
    {{range $j, $m := $y.Months }}
        {{ if not (and (eq $i 0) (eq $j 0)) }}
    </table>
    </div>
        {{ end }}
    
    <div id="{{ $m.ID }}_hidden">
    <h4 onclick="showHide('{{ $m.ID }}'); " class="month"><span>▲</span> {{ $m.Title }}</h4>
    </div>
    <div id="{{ $m.ID }}_shown" style="display: none; ">
    <h4 onclick="showHide('{{ $m.ID }}'); " class="month"><span>▼</span> {{ $m.Title }}</h4>
    <table>
        <tr>
            <th>Date</th>
            <th colspan="2">Downloads</th>
            <th>Last updated</th>
        </tr>
        {{range $d := $m.Days }}
        <tr>
            <td>{{ $d.Title }}</td>
            <td><a href="{{ $d.CsvUrl }}">csv ({{ $d.CsvSize }})</a></td>
            <td><a href="{{ $d.GtfsrtUrl }}">gtfsrt ({{ $d.GtfsrtSize }})</a></td>
            <td><span class="small">{{ $d.Updated }}</span></td>
        </tr>
        {{end}}
    {{ end }}
{{ end }}
    </table>
    </div>

{{ end }}