trip_uid,stop_id,track,arrival_time,departure_time
{{ range $trip := . -}}
{{- range .StopTimes -}}
{{- $trip.TripUID }},{{ .StopID }},{{ NullableString .Track }},{{ NullableUnix .ArrivalTime }},{{ NullableUnix .DepartureTime }}
{{ end -}}
{{ end -}}
